<head>
  <title>Certificates App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../javascripts/AutoLogout.js"></script>
  <style>
    #userNameID{
      margin-right: 20px!important;
      background-color: #ffffffff!important;
      color: #72c02c!important;
    }
    nav.navbar {
    background-color: #72c02c!important;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: white!important;
    }
  </style>
</head>
  <body style="background-color: white">
  <script>
    var logout = new AutoLogout();
    var self = this;
    $(document).ready(function () {
      var logOut = document.getElementById("logOutButton").innerText;
      if (logOut == "Hide") {
        var buttonLogOut = document.getElementById("buttonLogOut")
        buttonLogOut.style.display = 'none';
        var navBar = document.getElementById("ulItems")
        navBar.hidden = true;
      }
      var userName = document.getElementById("userName").innerText
      var userNameID = document.getElementById("userNameID")
      userNameID.innerHTML = userName

    })

    function logOut() {
      var opcion = confirm("Are you sure you want to log out?")
      if (opcion == true) {
        var data = JSON.stringify({})
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": window.location.origin + "/logout",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json",
            "cache-control": "no-cache"
          },
          "processData": false,
          "data": data
        }

        $.ajax(settings).done(function (response) {
          console.log(response);
          location.href = window.location.origin
        });
      }
    }

  </script>
  <h1 id="logOutButton" hidden>{{logOutButton}}</h1>
  <h1 id="userName" hidden>{{userName}}</h1>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">

    <a class="navbar-brand" href="/">
      <img src="../images/aa-logo.png" style="width:150px;">
    </a>

    <ul class="navbar-nav" id="ulItems">
      <li class="nav-item dropdown" id="liStudent">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Students
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="createStudent">Create</a>
          <a class="dropdown-item" href="students">List</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="liCertificate">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Certificates
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="createCertificate">Create/Upload</a>
          <a class="dropdown-item" href="certificates">List/Generate</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="liUsers">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Users
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="createUser">Create</a>
          <a class="dropdown-item" href="users">List</a>
        </div>
      </li>
    </ul>
    <div class="ml-auto mr-1">
      <span class="badge badge-pill badge-primary ml-auto mr-1" id="userNameID"></span>
      <button type="button" class="btn btn-default" onclick="logOut()" id="buttonLogOut"> <span
        class="glyphicon glyphicon-log-out"></span> Log out </button>
    </div>
    

  </nav>


  <div class="container-fluid">
  </div>
  {{{body}}}
</body>